
body {
  background: linear-gradient(90deg, #f598a8, #f6edb2);
  text-align: center;
  overflow-x: hidden;
}
#root
{
  display: flex;
  justify-content: center;


}
.main
{
  display: flex;
  width: 357px;
  justify-content: center;
  overflow-x: hidden;
}
.wrapper
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 357px;
  height: 100%;
}
.AddWrapper
{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 300px;
  padding-left: 20px;
  height: 10px;
  margin-bottom: 40px;
}
.field {
  display: flex;
  padding: 50px 0;
  width: 357px;
  color: #fff;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 10px 0 400px 0;
  border-radius: 50px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #aaa719;
  background: linear-gradient(90deg, #f598a8, #f6edb2);
  border-radius: 50px;
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0;
  width: 347px;
  text-align: center;

  -webkit-animation: box 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: box 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.boxDone {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 10px;
  width: 90%;
  height: 30px;
  text-align: center;
  color: black;
}
.boxShift
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 10px;
  width: 90%;
  height: 30px;
  text-align: center;

  -webkit-animation: boxShift 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: boxShift 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.box:last-child {
  margin-bottom: 0;
}

button.btn {
  margin-right: 10px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 0.65em;
  color: #fff;
  outline: none;
}

textarea{
  resize: none;
  background-color: transparent;
  border-radius: 5px;
  width: 50%;
  outline: none;
color: black;
  border-color: transparent;
  text-align: center;
  align-items: center;
  padding-top: 10px;
}
textarea::placeholder
{
  text-align: center;
}


.rowTime
{
  display: flex;
  justify-content: space-around;
}
.link_wrapper
{
  height: 50px;
  margin-top: 20px;
  display: flex;
  align-items: center;

}
.link_wrapper a
{
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  background: #333;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #333;
  transition: all .35s;
  margin-bottom: 30px;
  border-radius: 50px;
}

.icon{
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all .35s;
}

.icon svg{
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #2ecc71;
  transition: all .35s;
}

.link_wrapper a:hover{
  width: 200px;
  border: 3px solid #2ecc71;
  background: transparent;
  color: #2ecc71;
}

.link_wrapper a:hover + .icon{
  border: 3px solid #2ecc71;
  right: -25%;
}
.icons
{
  height: 100%;
}
.rowSave
{
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.date
{
  font-size: 100%;
}
.time
{
  font-size: 100%;
}
.right
{
  width: 70%;
  text-align: center;
}
#now
{

  font-size: 85%;
  background: none;
  border: none;
  width: 70%;
text-align: center;
}
#time
{
  font-size: 85%;
  background: none;
  border: none;
  text-align: end;
}
.userField
{
  display: flex;
  width: 100%;
  justify-content: start;
  height: 50px;
  margin: 15px 20px 0 40px;
  align-items: start;

}

.userIcon
{
  height: 100%;
}

.modalUserActive
{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-left: 10px;

  -webkit-animation: modalUserActive 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: modalUserActive 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.userIconLogout
{
  height: 30px;
  margin-left: 5px;
}
.modalUserHide
{
display: flex;
  align-items: center;

  -webkit-animation: modalUserHide 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: modalUserHide 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.monthWrapper
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
  width: 90%;
  height: 30px;
  text-align: center;
}
.monthWrapperHide
{
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
  width: 100%;
  height: 30px;
  text-align: center;
  opacity: 60%;
  -webkit-filter: grayscale(70%);
}
.monthName
{
  width: 60%;
}
.buttons
{
  height: 30px;
}


                                                     /* CSS */
                                                   .button-88 {
                                                     display: flex;
                                                     align-items: center;
                                                     font-family: inherit;
                                                     font-weight: 500;
                                                     font-size: 16px;

                                                     color: white;

                                                     background: transparent;
                                                     border: solid 1px black;
                                                     box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
                                                     letter-spacing: 0.05em;
                                                     border-radius: 20em;
                                                     cursor: pointer;
                                                     user-select: none;
                                                     -webkit-user-select: none;
                                                     touch-action: manipulation;
                                                   }

.button-88:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.button-88:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.shiftHide
{
  display: none;
}
.lockIco
{
  height: 100%;
  cursor: pointer;
}
.shiftNonHide
{
  width: 95%;
  text-align: center;
background: rgba(240, 240, 240,0.5);
  border-radius: 50px;
  margin-top: 20px;

  -webkit-animation: shiftNonHide 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: shiftNonHide 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/*////////////////////////////////////////////////////////////////////////*/

@-webkit-keyframes shiftNonHide {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
}
@keyframes shiftNonHide {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
}



@-webkit-keyframes modalUserActive {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}
@keyframes modalUserActive {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}

@-webkit-keyframes modalUserHide {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  100% {
    -webkit-transform: scaleX(0.3);
    transform: scaleX(0.3);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}
@keyframes modalUserHide {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
}


@-webkit-keyframes box {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes box {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes boxShift {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes boxShift {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}